@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-roseBg text-night antialiased;
  font-family: system-ui, ui-rounded, "Inter", "Poppins", sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
